<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - HotelGame.WebMVC</title>
   
    @await Html.PartialAsync("_UserLayoutCssPartial");
    
</head>
<body>

    <partial name="_UserHeader" />


    <div class="container" id="mainContainer">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <partial name="_UserFooter" />

    @await Html.PartialAsync("_UserLayoutJsPartial");

    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
